<div [@routerTransition]>
    <div class="container" id="suspecious-providers">
        <div class="row">
            <div widget class="card">
                <div class="card-header">
                    <span>LISTA DE CREDENCIADOS ENVOLVIDOS EM MAIORES NÚMEROS DE FRAUDE (NOS ÚLTIMOS 12 MESES)</span>
                </div>
                <div class="card-body widget-body">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Prestador</th>
                                <th>Região</th>
                                <th>Fraudes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Dr. Roberto Alves</th>
                                <td>Belo Horizonte/ MG</td>
                                <td>522</td>
                            </tr>
                            <tr>
                                <th scope="row">Consultório Mattar</th>
                                <td>Barbacena/ MG</td>
                                <td>467</td>
                            </tr>
                            <tr>
                                <th scope="row">Dra. Alice Castro</th>
                                <td>São Paulo/ SP</td>
                                <td>358</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>