<div [@routerTransition]>
    <div class="container" id="common-scams">
        <div class="row">
            <div widget class="card">
                <div class="card-header">
                    <span>ESQUEMAS DE FRAUDE (NOS ÚLTIMOS 12 MESES)</span>
                </div>
                <div class="card-body widget-body">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Objeto do Golpe</th>
                                <th>Ocorrências</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Exames</th>
                                <td>671</td>
                            </tr>
                            <tr>
                                <th scope="row">Medicamentos</th>
                                <td>378</td>
                            </tr>
                            <tr>
                                <th scope="row">Internações</th>
                                <td>236</td>
                            </tr>
                            <tr>
                                <th scope="row">Próteses</th>
                                <td>62</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>