<div class="row">
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>FILTROS</span>
            </div>
            <div class="card-body widget-body">
                <form (ngSubmit)="applyFilter()" #formFilter="ngForm">
                    <div class="row">
                        <div class="col-3">
                            <label>Classificação</label>
                        </div>
                        <div class="col-9">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="rdClassificationAll" [value]="0" name="classification" class="custom-control-input radio-main"
                                    [(ngModel)]="classification">
                                <label class="custom-control-label" for="rdClassificationAll">Todos</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="rdClassificationFraud" [value]="1" name="classification" class="custom-control-input radio-main"
                                    [(ngModel)]="classification">
                                <label class="custom-control-label" for="rdClassificationFraud">Fraude</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="rdClassificationTrue" [value]="2" name="classification" class="custom-control-input radio-main"
                                    [(ngModel)]="classification">
                                <label class="custom-control-label" for="rdClassificationTrue">Casos verdadeiros</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-3">
                                        <label for="provider-name">Nome do prestador</label>
                                    </div>
                                    <div class="col-9">
                                        <input id="provider-name" type="text" class="form-control" maxlength="50" required [ngModel]="providerName" (ngModelChange)="providerName = $event"
                                        name="providerName" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-main">
                                            <i class="fas fa-filter"></i> Filtrar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>