<div id="bubble-chart" class="container w-100" [style.height.px]="height">
  <div class="row">
    <div class="col-md-12">

      <ngx-charts-bubble-chart [view]="view" class="chart-container" [results]="data" [scheme]="colorScheme"
        [animations]="animations" [legend]="showLegend" [legendTitle]="legendTitle" [roundDomains]="roundDomains"
        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="showXAxis" [yAxis]="showYAxis"
        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
      </ngx-charts-bubble-chart>

    </div>
  </div>
</div>