@import "../../../common/styles/variables";

#facial-alerts-view-customer{
    img{
        height: 13rem;
        border-radius: 0.5rem;
    }
    .table-investigation {
        .color-white {
            color: $default-color;
            font-weight: bold;
            border-radius: 2rem;
        }
        width: 100%;
        thead {
            width: 100%;
        }
        tbody {
            width: 100%;
            .btn-search{
                color: $main-color;
                font-size: 13px;
            }
        }
        tbody tr:hover {
            border-radius: 2rem;
            background-color: $info-color;
            color: $default-color;
            .btn-search{
                color: $default-color;
            }
            a{
                color: $default-color;
            }
            .radius-cirlce{
                border-radius: 0rem;
                text-decoration: overline;
            }
        }
    }
    .color-red {
        color: $danger-color;
        font-weight: bold;
    }

    .color-white {
        color: $default-color;
        font-weight: bold;
    }
    .radius-cirlce{
        border-radius: 2rem;
    }
    .table, .list-alerts {
        .clickable {
            td {
                i:after {
                    content: "\f068";
                }
            }
        }
        .clickable.collapsed {
            td {
                i:after {
                    content: "\f067";
                }
            }
        }
    }
}